
@model VnPayIntegration.Models.PaymentResponseModel
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
@{
    ViewData["Title"] = "Kết quả thanh toán";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Success)
{
    <div>
        <h3>Thanh toán thành công!</h3>
        <p>Mã đơn hàng: @Model.OrderId</p>
        <p>Số giao dịch: @Model.TransactionId</p>
        <p>Phương thức thanh toán: @Model.PaymentMethod</p>
        <p>Mã phản hồi VnPay: @Model.VnPayResponseCode</p>
        <p>Mô tả: @Model.OrderDescription</p>
        <p>Id bill @Model.BillId</p>
        <p>Total @Model.Total</p>
    </div>
}
else
{
    <div>
        <h3>Thanh toán thất bại!</h3>
        <p>Vui lòng thử lại hoặc liên hệ hỗ trợ.</p>
    </div>
}
