@model KhoaLuan_QLNhaTro.Models.ViewModel.HistoryDetailViewModel
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="container">
    <h2 class="text-center">CHI TIẾT THANH TOÁN HÓA ĐƠN</h2>
    <div>
        <p><strong>Mã giao dịch:</strong> <span id="roomName">@Model.TransactionId</span></p>
        <p><strong>Thời điểm giao dịch:</strong> <span id="roomName">@Model.PaymentDate.ToString("dd/MM/yyyy HH:mm:ss")</span></p>
        <p><strong>Số tiền giao dịch:</strong> <span id="roomName">@Model.TotalAmount.ToString("F0")</span></p>
        <p>
            <strong>Kết quả giao dịch:</strong>
            <span id="roomName">
                @(@Model.Success ? "Đã thanh toán thành công" : "Giao dịch thất bại")
            </span>
        </p>
        <p><strong>Ngày tạo hóa đơn:</strong> <span id="roomName">@Model.CreateAt.ToString("dd/MM/yyyy")</span></p>
        <p><strong>Tên phòng:</strong> <span id="roomName">@Model.NameRoom</span></p>
        <p><strong>Giá phòng:</strong> <span id="roomName">@Model.roomPrice</span></p>
    </div>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>STT</th>
                <th>Dịch vụ</th>
                <th>Số lượng</th>
                <th>Số cũ</th>
                <th>Số mới</th>
                <th>Giá</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.Details)
            {
                <tr>
                    <td>@(Model.Details.IndexOf(detail) + 1)</td>
                    <td>@detail.ServiceName</td>
                    <td>@detail.Number?.ToString()</td>
                    <td>@detail.OldNumber?.ToString("F0")</td>
                    <td>@detail.NewNumber?.ToString("F0")</td>
                    <td>@detail.Price.ToString()</td>
                    <td>@detail.Total.ToString("F0")</td>
                </tr>
            }
        </tbody>
    </table>
    @* <div class="d-flex justify-content-between mt-3">
        <h4>Tổng tiền: @Model.TotalAmount.ToString("F0")</h4>
    </div> *@
</div>
